@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cust-scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  .cust-scrollbar::-webkit-scrollbar-track {
    background: @apply bg-white/10;
  }

  /* Handle */
  .cust-scrollbar::-webkit-scrollbar-thumb {
    background: @apply bg-white;
  }

  /* Handle on hover */
  .cust-scrollbar::-webkit-scrollbar-thumb:hover {
    background: @apply bg-white;
  }

  .outer-circle {
    height: 232px;
    width: 232px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid rgba(255, 255, 255, 0.2);
    outline-offset: 16px;
    position: relative;
  }

  .circle {
    position: absolute;
    width: 68px;
    height: 68px;
    background: var(--bg, #6effa5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle:nth-of-type(1) {
    transform: rotate(-120deg) translate(135px) rotate(120deg);
  }

  .circle:nth-of-type(2) {
    transform: rotate(-85deg) translate(135px) rotate(85deg);
  }

  .circle:nth-of-type(3) {
    transform: rotate(-51deg) translate(135px) rotate(50deg);
  }

  .circle:nth-of-type(4) {
    transform: rotate(-18deg) translate(135px) rotate(18deg);
  }

  .circle:nth-of-type(5) {
    transform: rotate(18deg) translate(135px) rotate(-18deg);
  }

  .circle:nth-of-type(6) {
    transform: rotate(54deg) translate(135px) rotate(-54deg);
  }
}

@font-face {
  font-family: "pilot command";
  src: url(../public/fonts/PilotCommandGradient2Ital-K7RJy.otf);
}

@font-face {
  font-family: "emotion engine";
  src: url(../public/fonts/EmotionEngineBold-YGnL.ttf);
}
